name: Build example

on:
  push:
    branches: [main]
    paths:
      - '**'
      - '!.github/**'
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  build-example:
    runs-on: ubuntu-22.04

    steps:
      - name: Maximize build space
        uses: smallprogram/maximize-build-space@16007771e4642069097fc3e7444638474e5db178
        with:
          root-reserve-mb: 16384
          swap-size-mb: 16384
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'
          remove-docker-images: 'true'
          build-mount-path: '/nix'
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: nixbuild/nix-quick-install-action@v30
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true

      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-example-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-example-${{ runner.os }}-
          gc-max-store-size-linux: 5G
          purge: true
          purge-prefixes: nix-example-${{ runner.os }}-
          purge-created: 0
          purge-last-accessed: 0
          purge-primary-key: never

      - name: Configure Cachix
        uses: cachix/cachix-action@v14
        with:
          name: loongarch64-cross-test
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build example and push to Cachix
        id: build
        run: |
          cd example
          OUT_PATH=$(nix eval --raw --quiet .#nixosConfigurations.loongarch64_99pi_tf_custom.config.system.build.toplevel.outPath)
          nix build --no-link --print-out-paths .#nixosConfigurations.loongarch64_99pi_tf_custom.config.system.build.toplevel
          echo "$OUT_PATH" | cachix push loongarch64-cross-test
          echo "OUTPUT_PATH=$OUT_PATH" >> $GITHUB_ENV

      - name: Save output path to file
        if: success()
        run: |
          cd example
          echo "${{ env.OUTPUT_PATH }}" > system_path.txt
          echo "Saved output path to example/system_path.txt: ${{ env.OUTPUT_PATH }}"

      - name: Auto commit system_path.txt to result branch
        if: success() && env.OUTPUT_PATH != ''
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
            # 提交信息
            commit_message: "Build System Update: ${{ env.OUTPUT_PATH }}"
            branch: example-result
            file_pattern: example/system_path.txt
            create_branch: true
            push_options: --force
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
